

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%; 
}
.box{
    width:500px;
    height: 500px;
     display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    border: 2px solid;
    font-size: large;
    
   
}
.btn{
    margin: 50px;
    width:150px;
    font-weight: 400;
}
@media (max-width:768px) {
    .box {
        width: 300px; 
        height: auto; 
        font-size: medium; 
    }

    .btn {
        width: 100px; 
        margin: 20px; 
    }
    
}


