

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.box{
    width:500px;
    height: 500px;
     display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    border: 2px solid;
    
   
}

